#img-bg{
    background-image: url(https://i.pinimg.com/originals/95/10/fd/9510fd2e501fbd1bd34af7606cdabff4.jpg);

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}